::-webkit-scrollbar {
	width: 0.5rem !important;
}

:root {
	--five-color: 196,2,51;
	--four-color: 255,109,0;
	--three-color: 255,211,0;
	--two-color: 0,135,189;
	--one-color: 0,159,107;
	--title-font: "Poppins", sans-serif;
	scrollbar-width: thin;
}

html,
body,
#acs-database,
html *,
body * {
	overflow-y: visible !important;   
	overflow-x: hidden !important;
	max-width: -webkit-calc(100% + (100vw - 100%));
	max-width: -moz-calc(100% + (100vw - 100%));
	max-width: calc(100% + (100vw - 100%));
}

html, body, #acs-database {
	width: 100vw;
	max-width: -webkit-calc(100% + (100vw - 100%));
	max-width: -moz-calc(100% + (100vw - 100%));
	max-width: calc(100% + (100vw - 100%));
	height: 100vh;
}

body {
	background-image: initial;
	background-color: rgba(0,0,0,0);
}

table * {
	text-transform: capitalize;
}


table.floatThead-table {
	border-top: none;
	border-bottom: none;
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--white-monochrome, 252, 252, 252));
}

.fixed-table-toolbar div:first-of-type {
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	   -moz-box-flex: 2;
		-ms-flex-positive: 2;
			flex-grow: 2;
	padding: 0 1rem;
}

th {   
	font-size: 0.8rem;
	background-color: rgb(252, 252, 252);
	background-color: rgb(var(--white-monochrome, 252, 252, 252));
}

.table td, .table th {
	max-width: -webkit-calc((100% + (100vw - 100%))/7);
	max-width: -moz-calc((100% + (100vw - 100%))/7);
	max-width: calc((100% + (100vw - 100%))/7);
}

td[class*="pending"]:nth-of-type(4),
#table > tbody > tr > td:nth-of-type(5):not(.none) {
	background-color: rgba(12, 12, 12 ,1);
	background-color: rgba(var(--black-monochrome,12, 12, 12),1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(252, 252, 252 ,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(252, 252, 252 ,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(252, 252, 252 ,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--white-monochrome, 252, 252, 252),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--white-monochrome, 252, 252, 252),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--white-monochrome, 252, 252, 252),1);
	color: rgb(252,252,252);
	color: rgb(var(--white-monochrome, 252, 252, 252));
}

td[class*="neutralized"]:nth-of-type(4) {
	background-color: rgba(66, 66, 72 ,0.15);
	background-color: rgba(var(--gray-monochrome, 66, 66, 72),0.25);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--gray-monochrome, 66, 66, 72),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--gray-monochrome, 66, 66, 72),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--gray-monochrome, 66, 66, 72),1);
}

td[class*="explained"]:nth-of-type(4) {
	background-color: rgba(66, 66, 72 ,0.15);
	background-color: rgba(var(--black-monochrome, 12, 12, 12),0.15);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
}

td[class*="esoteric"]:nth-of-type(4) {
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(66, 66, 72 ,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--black-monochrome, 12, 12, 12),1);
	position: relative;
}

td[class*="esoteric"]:nth-of-type(4)::after {
	content: "➠";
	width: 1em;
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	   -moz-box-pack: end;
		-ms-flex-pack: end;
			justify-content: flex-end;
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 2em;
}

td[class*="safe"]:nth-of-type(4),
td.unrestricted:nth-of-type(3),
td.dark:nth-of-type(6),
td.notice:nth-of-type(7) {
	background-color: rgba(0,159,107,0.15);
	background-color: rgba(var(--one-color),0.15);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
}

td.restricted:nth-of-type(3),
td.vlam:nth-of-type(6),
td.caution:nth-of-type(7) {
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(0,135,189,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(0,135,189,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(0,135,189,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--two-color),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--two-color),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--two-color),1);
	background-color: rgba(0,135,189,0.15);
	background-color: rgba(var(--two-color),0.15);
}

td[class*="euclid"]:nth-of-type(4),
td.confidential:nth-of-type(3),
td.keneq:nth-of-type(6),
td.warning:nth-of-type(7) {
	background-color: rgba(0,159,107,0.15);
	background-color: rgba(var(--one-color),0.15);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(0,159,107,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--one-color),1);
}

td.secret:nth-of-type(3),
td.ekhi:nth-of-type(6),
td.danger:nth-of-type(7) {
	background-color: rgba(255,109,0,0.15);
	background-color: rgba(var(--four-color),0.15);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(255,109,0,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(255,109,0,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(255,109,0,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--four-color),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--four-color),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--four-color),1);
}

td[class*="keter"]:nth-of-type(4),
td.top-secret:nth-of-type(3),
td.amida:nth-of-type(6),
td.critical:nth-of-type(7) {
	background-color: rgba(196,2,51,0.15);
	background-color: rgba(var(--five-color),0.15);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
			box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
	-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
	   -moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
			box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
}

@supports (background-blend-mode: overlay) {
	td.cosmic-top-secret:nth-of-type(3) {
		color: rgb(var(--swatch-menutxt-light-color));
		font-weight: bold;
		background-color: rgb(var(--swatch-primary, 133, 0, 5));
		background-image: url("http://scp-wiki.wdfiles.com/local--files/component%3Aanomaly-class-bar/galactic.jpg");
		background-attachment: fixed;
		-webkit-background-size: contain;
		-moz-background-size: contain;
			-o-background-size: contain;
				background-size: contain;
		background-blend-mode: overlay;
		-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
		-moz-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
				box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
		-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
		-moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
				box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
	}
}

@supports not (background-blend-mode: overlay) {
	td.cosmic-top-secret:nth-of-type(3) {
		color: rgb(var(--swatch-menutxt-light-color));
		font-weight: bold;
		background-color: rgb(var(--swatch-primary-darkest));
		-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
		-moz-box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
				box-shadow: inset 0.5rem 0 0 0 rgba(196,2,51,1);
		-webkit-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
		-moz-box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
				box-shadow: inset 0.5rem 0 0 0 rgba(var(--five-color),1);
	}
}